<!DOCTYPE html>
<html>
    <head>
        <title>Unickle</title>
        <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap.css') }}">

        <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='pentesterlab.css') }}">
    </head>
    <body>
      <!-- pentesterlab.com -->
      <div class="container-narrow">
        <div class="header">
          <div class="navbar navbar-fixed-top">
            <div class="nav-collapse collapse">
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="body-content">
          
          {% block body %}{% endblock %}
        </div>
      </div>
 

    </body>
</html>


