doctype html
html
	head
		title CodePasty
		style
			include style.css
	body
		div(class="login")
			div(class="heading")
				if !message
					h2 Sign In
					form(method="POST")
						div(class="input-group input-group-lg")
							input(type="text", name="user", autocomplete="off", placeholder="Username or email")
						div(class="input-group input-group-lg")
							input(type="password", name="pass", autocomplete="off", placeholder="Password")
						button(type="submit", class="float")
							| Login

				else
					p=message
