doctype html
html
	head
		title CodePasty | Paste
		style
			include style.css
	body
		div(class="container")
			div(class="content")
				div(class="heading")
					if pasty
						h2='By ' + pasty.username
						hr
						p=pasty.content